IFACE=eth0
FENPING_IMAGE=fensoft/fenping
FENPING_VERSION=1.6
DATABASE_PATH=/var/lib/fenping/database/fenping.sqlite3
DHCP_DEFAULT_ROUTER=192.168.1.1
DHCP_DYNAMIC_BEGIN=200
DHCP_DYNAMIC_END=250
DHCP_NETWORK=192.168.1.0/24
EXTRA_NETWORKS=
INVENTORY_DOWN_RETENTION_DAYS=7
PASSWORD=
SECRET=change-me
DISCORD_WEBHOOK_URL=
